// Mixin

@mixin animation($animation) {
  -webkit-animation: $animation;
  animation: $animation;
}

@mixin anim($name, $dur, $iterate) {
  animation-name: $name;
  animation-duration: $dur;
  animation-iteration-count:$iterate;
}